@import "tailwindcss";

@theme inline {
  --font-neulis-sans: "Neulis Sans";
  --font-segoe: "Segoe UI";
  --font-inter: "Inter", sans-serif;
  --color-gray-1000: #E5E7EB;
  --color-gray-1100: #4B5563;
  --color-gray-1200: #6B7280;
  --color-gray-1300: #EFF6FF;
  --color-gray-1400: #64748B;
  --color-gray-1500: #F9FAFB;
  --color-gray-1600: #F3F4F6;
  --color-gray-1700: #374151;
  --color-gray-1800: #F6F7F9;
  --color-gray-1900: #65758B;
  --color-gray-2000: #F3F5F7;
  --color-gray-2100: #E8EAED;
  --color-gray-2200: #DADCE2;
  --color-gray-2300: #6A7181;
  --color-gray-2400: #4F5664;
  --color-gray-2500: #333;
  --color-gray-2600: #737373;
  --color-gray-2700: #E0E6EB;
  --color-gray-2800: #DFE3E7;
  --color-gray-2900: #666666;
  --color-gray-3000: #F6F7F8;
  --color-gray-3100: #DAE0E7;
  --color-gray-3200: #363D49;
  --color-gray-3300: #6C727F;
  --colro-gray-3400: #F8F7FC;
  --color-gray-3500: #FDECEC;
  --color-blue-1000: #0D8CFF;
  --color-red-1000: #EF4444;
  --color-red-1100: #FEE2E2;
  --color-red-1200: #DC2626;
  --color-red-1300: #EF4343;
  --color-red-1400: #BE123C;
  --color-red-1500: #F43F5E;
  --color-white-1000: #DBEAFE;
  --color-white-1100: #FAFAFA;
  --color-purple-1000: #93C5FD;
  --color-blue-1100: #1F2937;
  --color-blue-1200: #0F172A;
  --color-black-1200: #111827;
  --color-black-1300: #1C1E21;
  --color-black-1400: #1D212B;
  --color-black-1500: #161A23;
  --color-blue-1300: #0F1729;
  --color-blue-1400: #0B64F4;
  --color-blue-1500: #0A91FF;
  --color-blue-1600: #0B91FE;
  --color-blue-1700: #3B82F6;
  --color-blue-1800: #1587F9;
  --color-blue-1900: #0F8FFF;
  --color-blue-2000: #0F87FF;
  --color-blue-2100: #EBF5FF;
  --color-blue-2200: #2463EB;
  --color-green-1000: #16A34A;
  --color-green-1100: #166534;
  --color-green-1200: #DCFCE7;
  --color-green-1300: #10B981;
  --color-green-1400: #F2FDF6;
  --color-green-1500: #21C45D;
  --color-green-1600: #16A249;
  --color-green-1700: #EEFCF3;
  --color-green-1800: #047857;
  --color-yellow-1000: #FEF9C3;
  --color-yellow-1100: #F59F0A;
  --color-yellow-1200: #FEF7EB;
  --color-yellow-1300: #F59E0B;
  --color-brown-1000: #854D0E;
  --color-brown-1100: #EAB308;
  --color-brown-1200: #4D3700;
  --color-orange-1000: #F97316;
  --color-purple-1100: #A855F7;
  /******* 4-2-2028 ******/
  --color-black13: #020817;
  --color-gray1600: #E2E8F0;
  --color-gray1700: #F1F5F9;
  --color-gray1800: #374151;
  --color-gray1900: #475569;
  --color-green12: #166534;
  --color-green13: #065F46;
  --color-green14: #15803D;
  --color-lightgreen12: #DCFCE7;
  --color-lightgreen13: #BBF7D0;
  --color-lightgreen14: #D1FAE5;
  --color-lightgreen15: #A7F3D0;
  --color-lightgreen16: #F0FDF4;
  --color-brown1200: #854D0E;
  --color-yellow1200: #FEF9C3;
  --color-yellow1300: #FEF08A;
  --color-yellow1400: #FFEDD5;
  --color-yellow1500: #FEFCE8;
  --color-red1200: #991B1B;
  --color-red1300: #DC2626;
  --color-red1400: #FECACA;
  --color-red1500: #B91C1C;
  --color-lightred1200: #FEE2E2;
  --color-lightred1300: #FEF2F2;
  --color-blue200: #1E40AF;
  --color-blue300: #BFDBFE;
  --color-blue400: #3730A3;
  --color-blue500: #C7D2FE;
  --color-blue600: #2563EB;
  --color-blue700: #E6F4FF;
  --color-blue800: #1D4ED8;
  --color-brown2000: #9A3412;
  --color-brown2100: #A16207;
  --color-brown2200: #CA8A04;
  --color-purpal12: #E9D5FF;
  --color-orange83: #FED7AA;
  --color-violet39: #6B21A8;
  --color-blueNexus: #F3E8FF;
  --color-darkgreen2300: #14532D;
  --color-purpal13: #9333EA;
  --color-purpal14: #7E22CE;
  /******* 12-2-2028 ******/
  --color-gray20: #D1D5DB;
  --color-yellow1600: #FDE047;
  --color-lightgreen17: #86EFAC;
  --color-blueNexus12: #D8B4FE;
  --color-orange12: #EA580C;
  /******* 12-2-2028 ******/

  --shadow-3xl: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
  --shadow-4xl: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-5xl: 0 1px 3px 0 #0D8CFF, 0 1px 2px 0 #0D8CFF;
  --shadow-6xl: 0 0 40px 0 rgba(11, 100, 244, 0.15);
  --shadow-7xl: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
  --shadow-8xl: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 2px -1px rgba(0, 0, 0, 0.03);
  --shadow-44xl: 0 1px 3px 0 #0D8CFF, 0 1px 2px 0 #0D8CFF;
  --shadow-45xl: 0 1px 3px 0 rgba(13, 140, 255, 0.15), 0 1px 2px 0 rgba(13, 140, 255, 0.15);



  --breakpoint-xs: 390px;
  --breakpoint-sm: 575px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 991px;
  --breakpoint-xl: 1199px;
  --breakpoint-2xl: 1365px;
  --breakpoint-4xl: 1600px;
}


@font-face {
  font-family: 'Neulis Sans';
  src: url('/fonts/NeulisSans-Medium.woff2') format('woff2'),
    url('/fonts/NeulisSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neulis Sans';
  src: url('/fonts/NeulisSans-SemiBold.woff2') format('woff2'),
    url('/fonts/NeulisSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neulis Sans';
  src: url('/fonts/NeulisSans-Bold.woff2') format('woff2'),
    url('/fonts/NeulisSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neulis Sans';
  src: url('/fonts/NeulisSans-Regular.woff2') format('woff2'),
    url('/fonts/NeulisSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/SegoeUI.woff2') format('woff2'),
    url('/fonts/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overflow: auto !important;
  padding-right: 0px !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dashboard-bg {
  background: linear-gradient(135deg, var(--color-grey-98, #FAFAFA) 0%, var(--color-grey-9730, rgba(239, 246, 255, 0.30)) 50%, var(--color-grey-9820, rgba(250, 245, 255, 0.20)) 100%);
}

.banner-bg {
  background: linear-gradient(90deg, #0D8CFF 0%, #0D8CFF 50%, #7E22CE 100%);

}

.line-bg {
  background: linear-gradient(180deg, var(--color-azure-60, #3B82F6) 0%, var(--color-violet-56, #9333EA) 100%);
}

.line-bg-2 {
  background: linear-gradient(180deg, #22C55E 0%, #2563EB 100%);

}

.line-bg-3 {
  background: linear-gradient(180deg, #F97316 0%, #DC2626 100%);

}



.gray-icon {
  filter: invert(44%) sepia(9%) saturate(600%) hue-rotate(180deg) brightness(92%) contrast(88%);

}

.flag-bg {
  background: linear-gradient(90deg, var(--color-azure-53, #0D8CFF) 0%, var(--color-azure-42, #0A70CC) 100%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  cursor: pointer;
}

input[type="date"] {
  -moz-appearance: textfield;
}

.text-gradient {
  background: linear-gradient(99deg, #0B91FE 0%, #4B73FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calendar-input input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  -webkit-appearance: auto;
  cursor: pointer;
  position: absolute;
  left: 11px;
}
.sale-date input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  -webkit-appearance: auto;
  cursor: pointer;
}
.btn-primary:hover img {
  filter: brightness(26);
 
}