 @import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
/*---break---*/
@custom-variant dark (&:is(.dark *));
 @theme inline {
     --font-neulis-sans: "Neulis Sans";
     --font-segoe: "Segoe UI";
     --font-inter: "Inter", sans-serif;
     --font-Graphik: "Graphik";
     --font-publicSans: "Public Sans", sans-serif;
     --font-JetBrainsMono: "JetBrains Mono", monospace;
     --color-gray-1000: #E5E7EB;
     --color-gray-1100: #4B5563;
     --color-gray-1200: #6B7280;
     --color-gray-1300: #EFF6FF;
     --color-gray-1400: #64748B;
     --color-gray-1500: #F9FAFB;
     --color-gray-1600: #F3F4F6;
     --color-gray-1700: #374151;
     --color-gray-1800: #F6F7F9;
     --color-gray-1900: #65758B;
     --color-gray-2000: #F3F5F7;
     --color-gray-2100: #E8EAED;
     --color-gray-2200: #DADCE2;
     --color-gray-2300: #6A7181;
     --color-gray-2400: #4F5664;
     --color-gray-2500: #333;
     --color-gray-2600: #737373;
     --color-gray-2700: #E0E6EB;
     --color-gray-2800: #DFE3E7;
     --color-gray-2900: #666666;
     --color-gray-3000: #F6F7F8;
     --color-gray-3100: #DAE0E7;
     --color-gray-3200: #363D49;
     --color-gray-3300: #6C727F;
     --colro-gray-3400: #F8F7FC;
     --color-gray-3500: #FDECEC;
     --color-gray-3600: #E1E7EF;
     --color-gray-3700: #EAEDF0;
     --color-gray-3800: #676F7E;
     --color-gray-3900: #E2E4E9;
     --color-gray-4000: #D4D7DE;
     --color-gray-5000: #6C7C93;
     --color-gray-5100: #E0E4EB;
     --color-gray-5200: #EAECF1;
     --color-gray-5300: #E8F1FC;
     --color-gray-5400: #6E7D91;
     --color-gray-5500: #E1E4EA;
     --color-gray-5600: #DCDFE5;
     --color-gray-5700: #E9F1FC;
     --color-gray-5800: #EDEFF2;
     --color-gray-5900: #FFF0E6;
     --color-gray-6000: #F1EFFB;
     --color-gray-6100: #F0F2F5;
     --color-gray-6200: #EDEFF3;
     --color-gray-6300: #7588A3;
     --color-gray-6400: #627084;
     --color-gray-6500: #1FA2AD;
     --color-gray-6600: #FCFCFC;
     --color-gray-6700: #F4F6FD;
     --color-gray-6800: #EBF0F4;
     --color-gray-6900: #F2F5F7;
     --color-gray-7000: #DEE6ED;
     --color-gray-7100: #DFE6EC;
     --color-gray-7200: #E4F4FB;
     --color-gray-7300: #0F618A;
     --color-gray-7400: #1B294B;
     --color-gray-7500: #F2F4F8;
     --color-gray-7600: #E8EDF5;
     --color-blue-1000: #0D8CFF;
     --color-red-1000: #EF4444;
     --color-red-1100: #FEE2E2;
     --color-red-1200: #DC2626;
     --color-red-1300: #EF4343;
     --color-red-1400: #BE123C;
     --color-red-1500: #F43F5E;
     --color-red-1600: #FF3B00;
     --color-red-2000: #DF3A3A;
     --color-red-2100: #E93535;
     --color-red-2200: #ED2C2C;
     --color-red-2300: #FEF1F1;
     --color-red-2400: #F0C2C2;
     --color-red-2500: #DB2424;
     --color-white-1000: #DBEAFE;
     --color-white-1100: #FAFAFA;
     --color-purple-1000: #93C5FD;
     --color-blue-1100: #1F2937;
     --color-purple-2000: #5914D2;
     --color-blue-1200: #0F172A;
     --color-black-1200: #111827;
     --color-black-1300: #1C1E21;
     --color-black-1400: #1D212B;
     --color-black-1500: #161A23;
     --color-blue-1300: #0F1729;
     --color-blue-1400: #0B64F4;
     --color-blue-1500: #0A91FF;
     --color-blue-1600: #0B91FE;
     --color-blue-1700: #3B82F6;
     --color-blue-1800: #1587F9;
     --color-blue-1900: #0F8FFF;
     --color-blue-2000: #0F87FF;
     --color-blue-2100: #EBF5FF;
     --color-blue-2200: #2463EB;
     --color-blue-3000: #7C3BED;
     --color-blue-3100: #1672F3;
     --color-blue-3200: #14325D;
     --color-blue-3300: #19222E;
     --color-blue-3400: #2875E2;
     --color-blue-2500: #E6EFFF;
     --color-blue-2600: #BAD2F7;
     --color-blue-2700: #6653C6;
     --color-blue-2800: #1173D4;
     --color-blue-2900: #1D2530;
     --color-blue-3000: #2136F2;
     --color-green-1000: #16A34A;
     --color-green-1100: #166534;
     --color-green-1200: #DCFCE7;
     --color-green-1300: #10B981;
     --color-green-1400: #F2FDF6;
     --color-green-1500: #21C45D;
     --color-green-1600: #16A249;
     --color-green-1700: #EEFCF3;
     --color-green-1800: #047857;
     --color-green-1900: #E9FCF0;
     --color-green-2000: #1EAE53;
     --color-green-2100: #FCFBF8;
     --color-green-2200: #25A777;
     --color-green-2300: #1D97A5;
     --color-green-2600: #059467;
     --color-green-2700: #36D399;
     --color-green-2800: #94A3B8;
     --color-green-2900: #48566A;
     --color-green-3000: #047756;
     --color-green-3100: #EDFDF5;
     --color-green-3200: #2BAB6F;
     --color-green-3300: #28AF60;
     --color-green-3400: #E6F9EE;
     --color-green-3500: #22C37B;
     --color-green-3600: #20C55D;
     --color-green-3700: #1DA578;
     --color-green-3800: #2A9D90;
     --color-yellow-1000: #FEF9C3;
     --color-yellow-1100: #F59F0A;
     --color-yellow-1200: #FEF7EB;
     --color-yellow-1300: #F59E0B;
     --color-yellow-1400: #FE7B02;
     --color-yellow-1500: #DC8F09;
     --color-yellow-1800: #FE7B02;
     --color-yellow-1900: #DB7706;
     --color-yellow-2000: #FEF3C8;
     --color-yellow-2100: #B35309;
     --color-yellow-2200: #F3B116;
     --color-yellow-2300: #F5930A;
     --color-yellow-2400: #FEF4E7;
     --color-yellow-2500: #F97415;
     --color-yellow-2600: #FBD3B6;
     --color-yellow-2700: #00FF8C;
     --color-yellow-2800: #FBBD23;
     --color-yellow-2900: #F0CD75;
     --color-yellow-3000: #FFFAEB;
     --color-yellow-3100: #FCF3E3;
     --color-brown-1000: #854D0E;
     --color-brown-1100: #EAB308;
     --color-brown-1200: #4D3700;
     --color-orange-1000: #F97316;
     --color-orange-2000: #D97706;
     --color-purple-1100: #A855F7;
     --color-golden-1000: #D9A520;
     --color-black-2000: #14181F;
     --color-black-2100: #090B21;
     --color-black-2200: #20283C;
     --color-black-2300: #333C4D;
     --color-black13: #020817;
     --color-gray1600: #E2E8F0;
     --color-gray1700: #F1F5F9;
     --color-gray1800: #374151;
     --color-gray1900: #475569;
     --color-green12: #166534;
     --color-green13: #065F46;
     --color-green14: #15803D;
     --color-green15: #288A5B;
     --color-lightgreen12: #DCFCE7;
     --color-lightgreen13: #BBF7D0;
     --color-lightgreen14: #D1FAE5;
     --color-lightgreen15: #A7F3D0;
     --color-lightgreen16: #F0FDF4;
     --color-brown1200: #854D0E;
     --color-yellow1200: #FEF9C3;
     --color-yellow1300: #FEF08A;
     --color-yellow1400: #FFEDD5;
     --color-yellow1500: #FEFCE8;
     --color-red1200: #991B1B;
     --color-red1300: #DC2626;
     --color-red1400: #FECACA;
     --color-red1500: #B91C1C;
     --color-lightred1200: #FEE2E2;
     --color-lightred1300: #FEF2F2;
     --color-blue200: #1E40AF;
     --color-blue300: #BFDBFE;
     --color-blue400: #3730A3;
     --color-blue500: #C7D2FE;
     --color-blue600: #2563EB;
     --color-blue700: #E6F4FF;
     --color-blue800: #1D4ED8;
     --color-brown2000: #9A3412;
     --color-brown2100: #A16207;
     --color-brown2200: #CA8A04;
     --color-purpal12: #E9D5FF;
     --color-orange83: #FED7AA;
     --color-violet39: #6B21A8;
     --color-blueNexus: #F3E8FF;
     --color-darkgreen2300: #14532D;
     --color-purpal13: #9333EA;
     --color-purpal14: #7E22CE;
     --color-gray20: #D1D5DB;
     --color-yellow1600: #FDE047;
     --color-blueNexus12: #D8B4FE;
     --color-blueNexus13: #F0F5FD;
     --color-orange12: #EA580C;
     --color-skyblue23: #0DA2E7;
     --color-skyblue2434: #E3FDF4;
     --color-gray22: #F8FAFC;
     --color-gray23: #E2E4E9;
     --color-gray24: #F0F2F4;
     --color-lightgreen17: #10B77F;
     --color-lightgreen18: #EBFAF5;
     --color-lightgreen19: #30A66F;
     --color-lightgreen20: #EDF8F3;
     --color-gradient1: #487BFF;
     --color-gradient2: #6672FF;
     --color-gradient3: #10BDFF;
     --color-red1600: #F43E5C;
     --color-blue1400: #3C83F6;
     --color-blue1500: #246ADB;
     --color-darkblue2: #344256;
     --color-black14: #312002;
     --color-purpal115: #9234EA;
     --color-red1700: #E21D4B;
     --color-red1800: #FCE8ED;
     --color-red1900: #D45C54;
     --color-sky-5000: #ECFDF5;
     --color-grey-5000: #94A3B8;
     --color-green-5000: #059669;
     --color-purple-5000: #AF57DB;
     --color-black-5000: #1F1B32;
     --color-grey-5100: #676284;
     --color-sky-5100: #22C55E;
     --color-black-5100: #1E293B;
     --color-grey-5200: #E2E0EB;
     /****** 25-2-2026 ******/
     --color-blue1600: #2F2F2F;
     --color-blue1700: #131720;
     --color-blue1800: #101010;
     --color-blue1900: #F0F6FE;
     --color-blue2000: #0075FF;
     --color-darkgreen57: #00715D;
     --color-darkgreen58: #95C7AF;
     --color-darkgreen59: #0A7552;
     --color-lightgreenNew: #C0FFE1;
     --color-lightgreenNew2: #E7F9F3;
     --color-lightgreenNew3: #EBF9F2;
     --color-lightgreenNew4: #E5F5EE;
     --color-grey-5300: #686C75;
     --color-grey-5400: #E0E5EB;
     --color-grey5500: #EEEFF2;
     --color-grey5600: #EDEFF2;
     --color-grey5700: #6C7889;
     --color-grey5800: #DADFE7;
     --color-lighrgrey34: #CBD5E1;
     --color-lighrgrey35: #E3F5F0;
     --color-lighrgrey36: #EDEFF3;
     --color-lighrgrey37: #DFE4EC;
     --color-lighrgrey38: #71717A;
     --color-lighrgrey39: #F4F4F5;
     --color-lighrgrey40: #E4E4E7;
     --color-lighrgrey41: #F3F5F6;
     --color-lighrgrey42: #D1D9E0;
     --color-lighrgrey43: #EBF1FA;
     --color-lighrgrey44: #EDF0F3;
     --color-lighrgrey45: #EEEEEE;
     --color-lighrgrey46: #F0F6FF;
     --color-yellow1700: #FEF3C7;
     --color-yellow1800: #FEF5E7;
     --color-yellow1900: #864E0E;
     --color-yellow2000: #E7B008;
     --color-yellow2100: #FDE68A;
     --color-yellow2200: #FEFAE6;
     --color-red2000: #E11D48;
     --color-red2100: #DC2828;
     --color-red2200: #EF4360;
     --color-red2300: #FFF0F2;
     --color-red2400: #E21D48;
     --color-red2500: #FDF1F4;
     --color-red85: #F0C2CC;
     --color-red86: #FF383C;
     --color-green51: #1CCA5B;
     --color-green53: #198653;
     --color-green54: #085E41;
     --color-green55: #DEF8EE;
     --color-green56: #F97015;
     --color-green57: #20B16D;
     --color-green58: #30A675;
     --color-green59: #29A356;
     --color-green60: #257E59;
     --color-green61: #33CC6B;
     --color-skyblue26: #BEE3F4;
     --color-skyblue27: #F1FAFE;
     --color-OxfordBlue: #1B294B;
     --color-OxfordBlue2: #141F38;
     --color-SteelGray: #737B8C;
     --color-RosePink: #FDE8E8;
     --color-Black234: #17171C;
     --color-Black235: #121721;
     --color-violet55: #6325F4;
     --color-Orange55: #F7931A;
     --color-Orange57: #FEF0E6;
     --color-blue55: #627EEA;
     --color-blue556: #2775CA;
     --color-blueviolet1: #9945FF;
     --color-greenviolet1: #14F195;
     --color-azureblue13: #0950C3;
     --color-azuregray12: #8B97A7;
     --color-DarkBrown122: #4D3000;
     --color-royalBlue123: #2662D9;
     --color-royalBlue124: #0846AA;
     --color-royalBlue125: #497BFF;
     --color-royalBlue126: #5E74FF;
     --color-royalBlue127: #11BCFF;
     --color-royalBlue128: #2378E7;
     --color-royalBlue129: #142952;
     --color-royalBlue130: #0A5ADB;
     --color-LightSkyBlue: #E7F0FE;
     --color-BurntOrange: #B45309;
     --color-BurntOrange2: #C2410C;
     --color-brown1300: #624004;
     --color-ElectricBlue: #12BBFF;
     --color-violet123: #7547D1;
     --color-ElectricBlue2: #1D56A5;
     --color-bgRed12: #FAEBEB;
     --color-waterblue: #E2ECF8;
     --color-rosepink22: #FEE7EB;
     --color-rosepink23: #FBE9E9;
     --color-darkbrownishOrange: #7A4F05;
     --color-DarkCrimson: #91081F;
     --shadow-3xl: 0 20px 25px -5px rgba(0, 0, 0, 0.10), 0 8px 10px -6px rgba(0, 0, 0, 0.10);
     --shadow-4xl: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
     --shadow-5xl: 0 1px 3px 0 #0D8CFF, 0 1px 2px 0 #0D8CFF;
     --shadow-6xl: 0 0 40px 0 rgba(11, 100, 244, 0.15);
     --shadow-7xl: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
     --shadow-8xl: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 2px -1px rgba(0, 0, 0, 0.03);
     --shadow-9xl: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);
     --shadow-10xl: 0 4px 6px -1px rgba(20, 25, 31, 0.07), 0 2px 4px -2px rgba(20, 25, 31, 0.05);
     --shadow-11xl: 0 1px 3px 0 rgba(15, 23, 41, 0.05), 0 4px 12px 0 rgba(15, 23, 41, 0.03);
     --shadow-13xl: 0 4px 30px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.03), 0 1px 0 1px rgba(255, 255, 255, 0.60) inset;
     --shadow-14xl: 0 1px 2px 0 rgba(24, 20, 31, 0.03);
     --shadow-15xl: 0 0 16px 4px rgba(233, 53, 53, 0.40), 0 0 32px 8px rgba(233, 53, 53, 0.15);
     --shadow-16xl: 0 0 8px 0 rgba(239, 68, 68, 0.5);
     --shadow-17xl: 0 0 20px 0 rgba(29, 165, 120, 0.30), 0 0 40px 0 rgba(29, 165, 120, 0.10);
     --shadow-18xl: 0 1px 2px 0 #FFF;
     --shadow-44xl: 0 1px 3px 0 #0D8CFF, 0 1px 2px 0 #0D8CFF;
     --shadow-45xl: 0 1px 3px 0 rgba(13, 140, 255, 0.15), 0 1px 2px 0 rgba(13, 140, 255, 0.15);
     /**** LATEST *****/
     --shadow-46xl: 0 0 0 2px #FFF;
     --shadow-47xl: 0 4px 6px -1px rgba(59, 130, 246, 0.20), 0 2px 4px -2px rgba(59, 130, 246, 0.20);
     --shadow-48xl: 0 0 0 1px #E2E8F0, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
     --shadow-49xl: 0 0 0 2px #DAE0E7;
     --shadow-50xl: 0 1px 3px 0 #FFF, 0 1px 2px -1px #FFF;
     --shadow-51xl: 0 0 16px 0 rgba(36, 106, 219, 0.25), 0 0 4px 0 rgba(36, 106, 219, 0.15);
     --shadow-52xl: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
     --shadow-53xl: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
     --shadow-54xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
     --shadow-55xl: 0 0 0 2px #F6F7F9, 0 0 0 4px #0D8CFF;
     --shadow-56xl: 0 0 0 2px rgba(60, 131, 246, 0.20);
     --shadow-57xl: 0 0 0 2px #FAFAFA, 0 0 0 4px #0B64F4;
     --shadow-58xl: 0 0 0 2px #F3F4F6, 0 0 0 4px #E21D48;
     --shadow-59xl: 0 0 0 2px #F9FAFB, 0 0 0 4px #141F38;
     --shadow-61xl: 0 1px 2px 0 #FFF;
     --shadow-62xl: 0 1px 3px 0 #FFF, 0 4px 12px -2px #FFF;
     --shadow-63xl: 0 1px 3px 0 rgba(0, 0, 0, 0.04), 0 1px 2px -1px rgba(0, 0, 0, 0.04);
     --shadow-64xl: 0 1px 2px 0 rgba(15, 23, 41, 0.05);
     --shadow-65xl: 0 0 0 2px #F8FAFC, 0 0 0 4px #2FA26A;
     --shadow-66xl: 0 25px 50px -12px rgba(19, 23, 32, 0.25);
     --shadow-67xl: 0 0 0 2px #F9FAFB, 0 0 0 4px #25A777;
     --shadow-68xl: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px -1px rgba(0, 0, 0, 0.05);
     --shadow-69xl: 0 0 10px 2px rgba(48, 166, 117, 0.25);
     --shadow-70xl: 0 0 10px 2px rgba(29, 86, 165, 0.25);
     --shadow-71xl: 0 0 0 2px #F9FAFB, 0 0 0 4px #2463EB;
     --shadow-72xl: 0 10px 15px -3px rgba(220, 40, 40, 0.20), 0 4px 6px -4px rgba(220, 40, 40, 0.20);
     --shadow-73xl: 0 4px 46px 0 rgba(0, 0, 0, 0.08), 0 4px 46px 0 rgba(129, 129, 129, 0.08);
     --shadow-74xl: 0 1px 2px 0 rgba(20, 24, 31, 0.05);
     --shadow-75xl: 0 0 0 2px #FFF, 0 0 0 4px #0F1729;
     --shadow-80xl: 0 1px 3px 0 #FFF, 0 1px 2px -1px #FFF;
     --shadow-81xl: 0 20px 25px -5px rgba(87, 60, 221, 0.10), 0 8px 10px -6px rgba(87, 60, 221, 0.10);
     --breakpoint-xs: 390px;
     --breakpoint-sm: 575px;
     --breakpoint-md: 767px;
     --breakpoint-lg: 991px;
     --breakpoint-xl: 1199px;
     --breakpoint-2xl: 1365px;
     --breakpoint-4xl: 1600px;
     --breakpoint-5xl: 1800px;
     --font-mono: var(--font-mono);
     --color-sidebar-ring: var(--sidebar-ring);
     --color-sidebar-border: var(--sidebar-border);
     --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
     --color-sidebar-accent: var(--sidebar-accent);
     --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
     --color-sidebar-primary: var(--sidebar-primary);
     --color-sidebar-foreground: var(--sidebar-foreground);
     --color-sidebar: var(--sidebar);
     --color-chart-5: var(--chart-5);
     --color-chart-4: var(--chart-4);
     --color-chart-3: var(--chart-3);
     --color-chart-2: var(--chart-2);
     --color-chart-1: var(--chart-1);
     --color-ring: var(--ring);
     --color-input: var(--input);
     --color-border: var(--border);
     --color-destructive: var(--destructive);
     --color-accent-foreground: var(--accent-foreground);
     --color-accent: var(--accent);
     --color-muted-foreground: var(--muted-foreground);
     --color-muted: var(--muted);
     --color-secondary-foreground: var(--secondary-foreground);
     --color-secondary: var(--secondary);
     --color-primary-foreground: var(--primary-foreground);
     --color-primary: var(--primary);
     --color-popover-foreground: var(--popover-foreground);
     --color-popover: var(--popover);
     --color-card-foreground: var(--card-foreground);
     --color-card: var(--card);
     --color-foreground: var(--foreground);
     --color-background: var(--background);
     --radius-sm: calc(var(--radius) * 0.6);
     --radius-md: calc(var(--radius) * 0.8);
     --radius-lg: var(--radius);
     --radius-xl: calc(var(--radius) * 1.4);
     --radius-2xl: calc(var(--radius) * 1.8);
     --radius-3xl: calc(var(--radius) * 2.2);
     --radius-4xl: calc(var(--radius) * 2.6);
 }

 @font-face {
     font-family: 'Neulis Sans';
     src: url('/fonts/NeulisSans-Medium.woff2') format('woff2'), url('/fonts/NeulisSans-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Neulis Sans';
     src: url('/fonts/NeulisSans-SemiBold.woff2') format('woff2'), url('/fonts/NeulisSans-SemiBold.woff') format('woff');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Neulis Sans';
     src: url('/fonts/NeulisSans-Bold.woff2') format('woff2'), url('/fonts/NeulisSans-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Neulis Sans';
     src: url('/fonts/NeulisSans-Regular.woff2') format('woff2'), url('/fonts/NeulisSans-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Segoe UI';
     src: url('/fonts/SegoeUI.woff2') format('woff2'), url('/fonts/SegoeUI.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Graphik';
     src: url('/fonts/Graphik.eot');
     src: url('/fonts/Graphik.eot?#iefix') format('embedded-opentype'), url('/fonts/Graphik.woff2') format('woff2'), url('/fonts/Graphik.woff') format('woff'), url('/fonts/Graphik.ttf') format('truetype'), url('/fonts/Graphik.svg#Graphik') format('svg');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
 }

 html {
     overflow: auto !important;
     padding-right: 0px !important;
 }

 .scrollbar-hide::-webkit-scrollbar {
     display: none;
 }

 .scrollbar-hide {
     -ms-overflow-style: none;
     scrollbar-width: none;
 }

 .dashboard-bg {
     background: linear-gradient(135deg, var(--color-grey-98, #FAFAFA) 0%, var(--color-grey-9730, rgba(239, 246, 255, 0.30)) 50%, var(--color-grey-9820, rgba(250, 245, 255, 0.20)) 100%);
 }

 .banner-bg {
     background: linear-gradient(90deg, #0D8CFF 0%, #0D8CFF 50%, #7E22CE 100%);
 }

 .line-bg {
     background: linear-gradient(180deg, var(--color-azure-60, #3B82F6) 0%, var(--color-violet-56, #9333EA) 100%);
 }

 .line-bg-2 {
     background: linear-gradient(180deg, #22C55E 0%, #2563EB 100%);
 }

 .line-bg-3 {
     background: linear-gradient(180deg, #F97316 0%, #DC2626 100%);
 }

 .gray-icon {
     filter: invert(44%) sepia(9%) saturate(600%) hue-rotate(180deg) brightness(92%) contrast(88%);
 }

 .flag-bg {
     background: linear-gradient(90deg, var(--color-azure-53, #0D8CFF) 0%, var(--color-azure-42, #0A70CC) 100%);
 }

 /* input[type="date"]::-webkit-calendar-picker-indicator {
     display: none;
     -webkit-appearance: none;
     cursor: pointer;
 }

 input[type="date"] {
     -moz-appearance: textfield;
 }  */

 .text-gradient {
     background: linear-gradient(99deg, #0B91FE 0%, #4B73FF 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .calendar-input input[type="date"]::-webkit-calendar-picker-indicator {
     display: block;
     -webkit-appearance: auto;
     cursor: pointer;
     position: absolute;
     left: 11px;
 }

 .sale-date input[type="date"]::-webkit-calendar-picker-indicator {
     display: block;
     -webkit-appearance: auto;
     cursor: pointer;
 }

 .btn-primary:hover img {
     filter: brightness(300);
 }

 .bg-gradient {
     background: linear-gradient(135deg, var(--color-grey-94, #E0E7FF) 0%, var(--color-grey-98, #F8FAFC) 50%, var(--color-grey-93, #DBEAFE) 100%);
 }

 .bg-gradient4 {
     background: linear-gradient(116deg, var(--color-cyan-388, rgba(29, 151, 165, 0.08)) 0%, var(--color-azure-453, rgba(23, 145, 207, 0.03)) 100%);
 }

 .bg-gradient5 {
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.00) 0%, rgba(23, 145, 207, 0.03) 100%);
 }

 .gradient-bg {
     background: linear-gradient(135deg, rgba(60, 131, 246, 0.10) 0%, rgba(60, 131, 246, 0.05) 100%), #FFF;
 }

 .body-gradient {
     background: linear-gradient(115deg, #DEEFF7 -0.39%, #EBD6F5 50.26%, #DEEFF7 100.91%);
 }

 .customselect .w-4 img {
     filter: brightness(50);
 }

 .card-bg {
     background: linear-gradient(180deg, var(--color-white-solid, #FFF) 0%, var(--color-grey-98, #F9FAFB) 100%);
     background: linear-gradient(135deg, rgba(60, 131, 246, 0.10) 0%, rgba(60, 131, 246, 0.05) 100%), #FFF;
 }

 .gradient-new {
     background: linear-gradient(135deg, #6325F4 0%, #B642F0 50%, #256AF4 100%);
 }

 .approve-gradient {
     background: linear-gradient(90deg, rgba(37, 167, 119, 0.05) 0%, rgba(37, 167, 119, 0.00) 100%)
 }

 .card-bg3 {
     background: linear-gradient(90deg, var(--color-azure-4510, rgba(17, 115, 212, 0.10)) 0%, var(--color-grey-94, #E4F4FB) 50%, var(--color-azure-455, rgba(17, 115, 212, 0.05)) 100%);
 }

 /*---break---*/

 :root {
     --background: oklch(1 0 0);
     --foreground: oklch(0.145 0 0);
     --card: oklch(1 0 0);
     --card-foreground: oklch(0.145 0 0);
     --popover: oklch(1 0 0);
     --popover-foreground: oklch(0.145 0 0);
     --primary: oklch(0.205 0 0);
     --primary-foreground: oklch(0.985 0 0);
     --secondary: oklch(0.97 0 0);
     --secondary-foreground: oklch(0.205 0 0);
     --muted: oklch(0.97 0 0);
     --muted-foreground: oklch(0.556 0 0);
     --accent: oklch(0.97 0 0);
     --accent-foreground: oklch(0.205 0 0);
     --destructive: oklch(0.577 0.245 27.325);
     --border: oklch(0.922 0 0);
     --input: oklch(0.922 0 0);
     --ring: oklch(0.708 0 0);
     --chart-1: oklch(0.809 0.105 251.813);
     --chart-2: oklch(0.623 0.214 259.815);
     --chart-3: oklch(0.546 0.245 262.881);
     --chart-4: oklch(0.488 0.243 264.376);
     --chart-5: oklch(0.424 0.199 265.638);
     --radius: 0.625rem;
     --sidebar: oklch(0.985 0 0);
     --sidebar-foreground: oklch(0.145 0 0);
     --sidebar-primary: oklch(0.205 0 0);
     --sidebar-primary-foreground: oklch(0.985 0 0);
     --sidebar-accent: oklch(0.97 0 0);
     --sidebar-accent-foreground: oklch(0.205 0 0);
     --sidebar-border: oklch(0.922 0 0);
     --sidebar-ring: oklch(0.708 0 0);
}

 /*---break---*/

 .dark {
     --background: oklch(0.145 0 0);
     --foreground: oklch(0.985 0 0);
     --card: oklch(0.205 0 0);
     --card-foreground: oklch(0.985 0 0);
     --popover: oklch(0.205 0 0);
     --popover-foreground: oklch(0.985 0 0);
     --primary: oklch(0.922 0 0);
     --primary-foreground: oklch(0.205 0 0);
     --secondary: oklch(0.269 0 0);
     --secondary-foreground: oklch(0.985 0 0);
     --muted: oklch(0.269 0 0);
     --muted-foreground: oklch(0.708 0 0);
     --accent: oklch(0.269 0 0);
     --accent-foreground: oklch(0.985 0 0);
     --destructive: oklch(0.704 0.191 22.216);
     --border: oklch(1 0 0 / 10%);
     --input: oklch(1 0 0 / 15%);
     --ring: oklch(0.556 0 0);
     --chart-1: oklch(0.809 0.105 251.813);
     --chart-2: oklch(0.623 0.214 259.815);
     --chart-3: oklch(0.546 0.245 262.881);
     --chart-4: oklch(0.488 0.243 264.376);
     --chart-5: oklch(0.424 0.199 265.638);
     --sidebar: oklch(0.205 0 0);
     --sidebar-foreground: oklch(0.985 0 0);
     --sidebar-primary: oklch(0.488 0.243 264.376);
     --sidebar-primary-foreground: oklch(0.985 0 0);
     --sidebar-accent: oklch(0.269 0 0);
     --sidebar-accent-foreground: oklch(0.985 0 0);
     --sidebar-border: oklch(1 0 0 / 10%);
     --sidebar-ring: oklch(0.556 0 0);
}

 /*---break---*/

 @layer base {
  * {
    @apply border-border outline-ring/50;
     }
  body {
    @apply bg-background text-foreground;
     }
  html {
    @apply font-mono;
     }
}